<!DOCTYPE html>
<html lang="en">
<head>
    <title>KodeBeagle</title>
    <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="library/dist/css/demo/index.css"/>
    <link rel="icon" type="image/png" href="http://www.imaginea.com/images/favicon.ico">


    <!-- production usage-->
    <!--link type="text/css" rel="stylesheet" href="library/dist/css/index.css"/-->
    <style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}</style>
</head>
<body  init-model ng-class="model.config.selectedTheme">
        
    <div page-loader class="page-loader" id="page-loader">
        <span class="glyphicon glyphicon-repeat">
        </span>
    </div>
    <header>
        
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="logo-section pull-left">
                    <a href="index.html" class="logo logo1" ng-cloak ng-if="editorView" title="KodeBeagle" >
                        KodeBeagle
                    </a>
                    <div class="header-search-component" ng-if="editorView" >
                        <label class="header-search-content" for="searchText" ng-cloak>
                            <div search-component>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="pull-right feature-nav"  ng-controller="pageFeatureCtrl">
                    <div ng-if="editorView" class="page-editor-feature-icons">

                        <a href="#" class="feature glyphicon  glyphicon-text-size" ng-click="adjustFont( $event, true )" ng-class="{'disable-icon':currentSize===22}"
                        tooltip-placement="bottom" tooltip="Increase Font"
                        >
                        </a><style>
                            .panel-body .ace_editor {
                                font-size: {{currentSize}}px;
                            }
                        </style><a href="#" class="feature glyphicon glyphicon-text-size decrease-font" ng-click="adjustFont( $event, false )" ng-class="{'disable-icon':currentSize===9}"
                            tooltip-placement="bottom" tooltip="Decrease Font"
                        >
                        </a><a href="#" class="feature glyphicon glyphicon-th-large" ng-click="model.gridView=true; $event.preventDefault()" ng-class="{'disable-icon':model.gridView}"
                            tooltip-placement="bottom" tooltip="Gridview"
                        >
                        </a><a href="#" class="feature glyphicon glyphicon-th-list" ng-click="model.gridView=false;$event.preventDefault()"
                            tooltip-placement="bottom" tooltip="Listview"
                            ng-class="{'disable-icon':!model.gridView}" >
                        </a>
                    </div>

                    <a href="#" class="feature glyphicon glyphicon-list-alt" open-popup data-size="lg" data-template="analyzed-projects.html" data-ctrl="analyzedProjectsCtrl" data-id="projects" tooltip-placement="bottom" tooltip="Analyzed Projects">
                    </a>
                    
                    <a href="#" class="feature glyphicon glyphicon-cog" open-popup data-template="user-settings.html" id="config" data-ctrl="userSettingsCtrl" tooltip-placement="bottom" tooltip="Configuartions">
                    </a>
                </div>
            </div>
        </nav>
        
    </header>
    <div class="main-content">
        <div class="container">
            <div class="welcome-component" ng-if="!editorView" >
                <label class="welcome-component-content" for="searchText" ng-cloak>
                    <h1 class="logo logo1">
                        KodeBeagle
                    </h1>
                    <div search-component>
                    </div>
                    
                </label>
            </div>

        </div>
        <div class="result-wrapper" ng-controller="editorCtroller" ng-if="editorView && !model.emptyResponse" ng-cloak>

            <div class="results-container" ng-class="{ 'grid-view':model.gridView }">
                <div class="container">
                    <div class="row">
                        <div class="sticky-panel" ng-class="{ 'col-sm-3': !hideLeftPanel, 'hide': hideLeftPanel  }" id="sidebar-container">
                            <tabset class="result-list-panel" justified="true">
                                <tab heading="{{tabs[0].heading}}" active="tabs[0].active">
                                    <div class="files-content">
                                        <ul>
                                            <li ng-repeat="project in model.projects" >
                                                <div ng-bind="project.name">File name</div>
                                                <ul>
                                                    <li ng-repeat="item in project.files">
                                                        <a href="#" ng-click="fileEleClick( $event, item )">
                                                            {{item.name}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </tab>
                                <tab heading="{{tabs[1].heading}}" active="tabs[1].active" >
                                    <div class="methods-content" >

                                       <ul>
                                            <li ng-repeat="method in model.groupedMethods" >
                                                <div>{{method.className}}
                                                <a class="pull-right" target="_blank" ng-href="http://docs.oracle.com/javase/7/docs/api/{{method.url}}" class="pull-right">Doc</a>
                                                </div>
                                                <ul>
                                                    <li ng-repeat="item in method.methods">
                                                        <a href="#" open-method-popup data-info="item.methodDoc">
                                                           {{item.method}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </tab>
                              </tabset>
                        </div>
                        <div class="result-editors-container" ng-class="{ 'col-sm-9': !hideLeftPanel,'col-sm-12': hideLeftPanel }">
                            <div class="row">
                                <div class="col-sm-12"  ng-if="model.showErrorMsg">
                                    <div class="alert alert-danger" role="alert">
                                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                      Error:{{model.errorMsg}}
                                    </div>
                                </div>
                            </div>
                            <div ng-if="model.editors && model.editors.length>0">
                                <div  class="row" ng-class="{'expanded-view': model.expandedItem }">
                                    <div ng-repeat="item in model.editors" class="col-sm-6 editor-container" ng-class="{'hide':model.expandedItem && model.expandedItem != item }">

                                        <div  class="panel panel-default editor"  >
                                            
                                            <div class="panel-heading" ng-dblclick="fullExpandView( $event, item )">
                                                <div class="pull-left">
                                                    <a  ng-href="http://github.com/{{item.fileInfo.path}}" target="_blank">
                                                        {{item.fileInfo.repo}}/{{item.fileInfo.name}}
                                                    </a>
                                                </div>
                                                <div class="pull-right">
                                                    <a href="#" ng-click="expandView( $event, item )" class="glyphicon glyphicon-fullscreen"
                                                        tooltip-placement="top" tooltip="{{'Resize'}}"
                                                    >
                                                    </a>
                                                    <a href="#" ng-click="toggleExpand( $event, $index, item );"  class="glyphicon glyphicon-expand" ng-class=
                                                    "{'glyphicon-collapse-down':item.collapsed}"
                                                    tooltip-placement="top" tooltip="{{item.collapsed&&'Collapse' || 'Expand'}}"
                                                    >
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div id="editor-{{$index}}-repeat-ace" ui-ace="getAceOptions( item )" ></div>
                                            
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                                
                             
                            </div>
                            <div ng-if="!model.editors || model.editors.length===0" class="no-result result-content-height">
                                <div class="message">No data</div>
                            </div>

                            

                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div ng-if="model.emptyResponse" class="no-result result-content-height">
            <div class="message">Ooops.... did not find any thing</div>
        </div>

    </div>
   
   <!-- <footer>
    <p>Built with <span>&hearts;</span></p>
   </footer> -->



<script type="text/ng-template" id="analyzed-projects.html">
  <a href="#" ng-click="dismiss( $event )" class="glyphicon glyphicon-remove close"></a>
  <div class="modal-header">
      <h3 class="modal-title">
        Analyzed projects
      </h3>
  </div>
  <div class="modal-body">
    <div class="all-projects">
        <div ng-repeat="item in data.projects track by $index" class="col-sm-6">
            {{item._source.login}}/{{item._source.name}}
        </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="user-settings.html">
    <a href="#" ng-click="dismiss( $event )" class="glyphicon glyphicon-remove close"></a>
    <div class="modal-header">
        <h3 class="modal-title">
            Configuration
        </h3>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
              <div class="col-sm-4">
                Kode Beagle Url
              </div>
              <div class="col-sm-8">
                <input class="form-control" ng-model="model.config.esURL" >
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-4">
                Result size
              </div>
              <div class="col-sm-8">
                <input class="form-control" type="number" ng-model="model.config.resultSize" >
              </div>
            </div>


            <div class="form-group">
              <div class="col-sm-4">
                Page Theme
              </div>
              <div class="col-sm-8">
                <select class="form-control" ng-model="model.config.selectedTheme" >
                    <option value="theme-dark">dark</option>
                    <option value="theme-light">light</option>
                <select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-4">
                Ace Editor theme
              </div>
              <div class="col-sm-8">
                <select class="form-control" ng-model="model.config.editorTheme" >
                     <optgroup label="Bright">
                        <option value="chrome">Chrome</option>
                        <option value="clouds">Clouds</option>
                        <option value="crimson_editor">Crimson Editor</option>
                        <option value="dawn">Dawn</option>
                        <option value="dreamweaver">Dreamweaver</option>
                        <option value="eclipse">Eclipse</option>
                        <option value="github">GitHub</option>
                        <option value="solarized_light">Solarized Light</option>
                        <option value="textmate">TextMate</option>
                        <option value="tomorrow">Tomorrow</option>
                        <option value="xcode">XCode</option>
                        <option value="kuroir">Kuroir</option>
                        <option value="katzenmilch">KatzenMilch</option>
                    </optgroup>
                    <optgroup label="Dark">
                        <option value="ambiance">Ambiance</option>
                        <option value="chaos">Chaos</option>
                        <option value="clouds_midnight">Clouds Midnight</option>
                        <option value="cobalt">Cobalt</option>
                        <option value="idle_fingers">idle Fingers</option>
                        <option value="kr_theme">krTheme</option>
                        <option value="merbivore">Merbivore</option>
                        <option value="merbivore_soft">Merbivore Soft</option>
                        <option value="mono_industrial">Mono Industrial</option>
                        <option value="monokai">Monokai</option>
                        <option value="pastel_on_dark">Pastel on dark</option>
                        <option value="solarized_dark">Solarized Dark</option>
                        <option value="terminal">Terminal</option>
                        <option value="tomorrow_night">Tomorrow Night</option>
                        <option value="tomorrow_night_blue">Tomorrow Night Blue</option>
                        <option value="tomorrow_night_bright">Tomorrow Night Bright</option>
                        <option value="tomorrow_night_eighties">Tomorrow Night 80s</option>
                        <option value="twilight">Twilight</option>
                        <option value="vibrant_ink">Vibrant Ink</option>
                    </optgroup>
                <select>
              </div>
            </div>
        </div>    
    </div>
    <div class="modal-footer">
        <button class="btn btn-block btn-lg btn-success" ng-click="ok( $event )">Save</button>
    </div>
</script>

<script type="text/ng-template" id="method-popup.html">
    <div class="method-info-pop" ng-class="{'alert alert-danger':!data.info}">
        <div class="close glyphicon glyphicon-remove" ng-click="dismiss( $event )"></div>
        <div ng-bind-html="data.info | trust"></div>
        <div ng-show="!data.info" >
            <h4>Unable to get the method info</h4>
        </div>
    </div>
</script>
<script type="text/ng-template" id="search-component.html">
    <form class="search-container" name="searchForm" ng-submit="formSubmit()" 
    id="search-form"
    ng-class="{'search-item-present': model.selectedTexts.length || model.searchText }"
    >
        <input type="submit" class="hide"/>
        <span ng-repeat="item in model.selectedTexts track by $index" class="selected-text" ng-dblclick="handleSelectedText( $event, $index )">
            {{item}}
            <i href="#" class="glyphicon glyphicon-remove" ng-click="deleteItem( $event, $index )"></i>
        </span>
        <input type="text" name="searchText" id="searchText" ng-model="model.searchText" ng-keydown="handleSearchText( $event )"  ng-focusout="searchTextFocusout()" placeholder="search here Eg: FileChannel, MappedByteBuffer"

        />
        <a href="#" class="glyphicon glyphicon-remove clear" ng-click="clearAll( $event )" tooltip-placement="bottom" tooltip="Clear Text"></a>
        </a>
        <button type="button" ng-click="formSubmit( true )" class="glyphicon glyphicon-search search"
            tooltip-placement="bottom" tooltip="Submit"
        >

        </button>
        <!--div class="suggestions" ng-if="suggestionTerm" id="suggestion-result">
            <div href="#" class="item" ng-class="{'active' : arrowIndex === $index }" ng-click="selectSuggestion( item )" ng-repeat="item in filteredSuggestions track by $index ">
                {{item.suggested}}
            </div>
        </div-->
    </form>
</script>


<!-- cdn based scripts starts here -->
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.9/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.9/angular-animate.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.9/ace.js" type="text/javascript" ></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.js"></script>
<script src="library/dev/js/vendors/ui-ace.js" type="text/javascript"></script>
<script src="library/dev/js/factories/http-service.js"></script>
<script src="library/dev/js/ng-modules/demo.js"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-60790831-1', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>

