<footer>
	<div class="container">
	<p>*Currently we support Java, Scala, and Javascript (Node.js). Support for other languages will be added soon.</p>
    
    <div class="pull-left">
    &copy; <script>document.write(new Date().getFullYear())</script>
    <a href="http://www.imaginea.com/" title="imaginea">Imaginea</a>,
    All Rights Reserved.
    </div>
    <div class="pull-right">
    <a href="{{ page.basepath }}about/terms-conditions.html">Terms and Conditions </a>
    and
    <a href="{{ page.basepath }}about/privacy-policy.html">Privacy Policy </a>
    </div>
    </div>
</footer>
