<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link href='//fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="{{ page.basepath }}library/dist/css/{{ page.stylesheet }}"/>
    <link rel="icon" type="image/png" href="{{ page.basepath }}images/favicon.ico" />
    <title>{{ page.title }}</title>
</head>