<div class="welcome-component-wrapper">
	<div>
		<div class="welcome-component">
			<div class="welcome-comp-header">
				<h1>KodeBeagle
					<sup>beta</sup>
				</h1>
				<p>Contextual code search* over 1 Billion lines of code by <a href="http://www.imaginea.com" target="_blank">Imaginea</a></p>
				
		    </div>
		</div>

	    <div search-component>
	    </div>

    </div>
</div>
<script type="text/ng-template" id="search-component.html">
	{% include search-input.html %}
</script>
<script type="text/ng-template" id="drop-down.html">
    {% include drop-down-template.html %}
</script>
