<section class="container">

    <section class="section-content animation fadeInUp">
        <section class="section-peak">
            <div class="peak-icon-wrap">
                <span class="glyphicon glyphicon-bell"></span>
            </div>
        </section>
        <div class="row">
            <div class="col-sm-6">
                <h3>Upcoming</h3>
                <p>
                    <span class="glyphicon glyphicon-gift"></span> Language Support
                </p>
            </div>
            <div class="col-sm-6">
                <h3>Contactus</h3>
                <p>
                    <a href="https://github.com/Imaginea/KodeBeagle/issues">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Report Issues
                    </a>
                </p>
                <p>
                    <a href="mailto:kodebeagle@googlegroups.com">
                        <span class="glyphicon glyphicon-envelope"></span> Email
                    </a>
                </p>

            </div>

        </div>

    </section>

</section>
