<section class="container">
    <section class="section-title">
        <h2 class="title">Ecosystem</h2>
    </section>
    <section class="section-content">
        <div class="row">
            <div class="col-sm-4  animation rotateIn">
                <div class="image-content-component">
                    <div class="image-section">
                        <span class="glyphicon glyphicon-globe"></span>
                    </div>
                    <h3 class="component-title">
                        Web Interface
                    </h3>
                    <div class="component-content">
                        Not using IDEA or just want to search Java Snippets for something abruptly, we have you covered. Our website has an immersive interface to help you find code for advanced scenarios.
                    </div>
                </div>
            </div>
            <div class="col-sm-4  animation rotateIn">
                <div class="image-content-component">
                    <div class="image-section">
                        <span class="glyphicon glyphicon-file"></span>
                    </div>
                    <h3 class="component-title">
                        Idea Plugin
                    </h3>
                    <div class="component-content">
                        Leverage the power of KodeBeagle for best practices and help in case you are stuck from within your favorite IDE, IntelliJ Idea.
                    </div>
                </div>
            </div>
            <div class="col-sm-4  animation rotateIn">
                <div class="image-content-component">
                    <div class="image-section">
                        <span class="glyphicon glyphicon-wrench"></span>
                    </div>
                     <h3 class="component-title">
                        Chrome Extension
                    </h3>
                    <div class="component-content">
                        Use our chrome extension to directly search a code snippet from any website using the KodeBeagle web interface. 
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>