<section class="container">
    <section class="section-title">
        <h2 class="title">Features</h2>
    </section>
    <section class="section-content">
        <div class="row animation fadeInUp">
            <div class="col-sm-4">
                <div class="image-content-component">
                    <div class="image-section">
                        <span class="glyphicon glyphicon-screenshot"></span>
                    </div>
                    <h3 class="component-title">
                        Contextual code search
                    </h3>
                    <div class="component-content">
                        The context is taken from any given code snippet unlike other text based search platforms. The code searched is then checked for API specific idiom suggestions without losing the context.
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="image-content-component">
                    <div class="image-section">
                        <span class="glyphicon glyphicon-file"></span>
                    </div>
                    <h3 class="component-title">
                        Curated Code Pool
                    </h3>
                    <div class="component-content">
                        The search is based on a custom curated index formed by analysing the Open Source repositories on GitHub.
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="image-content-component">
                    <div class="image-section">
                        <span class="glyphicon glyphicon glyphicon-flash"></span>
                    </div>
                     <h3 class="component-title">
                        Blazing Fast
                    </h3>
                    <div class="component-content">
                        The advanced NLP research and big data engineering techniques help in increasing the speed of search.
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>